{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowSmart.com</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    
    <script src="https://kit.fontawesome.com/a18ae6822d.js" crossorigin="anonymous"></script>
</head>
<body>
  <a id="top-section" ></a>
    <header>
        <div class="navbar">
               <div class="nav-logo">
            <a href="index">
            <div class="logo border"></div>
            </a>
             </div>
         <form name='search' class='search' action="{% url 'search'%}" method='GET'>
         <div class="search-bar">
            <select class="search-select">
                <option>All</option>
                <option value="fruit">Fruits</option>
                <option value="Vegetables">Vegetables</option>
                <option value="seeds">Seeds</option>
                <option value="Dryfruit">Dryfruit</option>
            </select>
            <input placeholder="Search" class="search-input" name='keyword'>
            <div class="search-icon">
            <button type="submit" class="search-btn" style="width: 35px; height: 35px; background-color:  rgb(240, 240, 67);  border: none; font-size:20px">
             <i class="fa-solid fa-magnifying-glass"></i>
            </button>
           </div>

        </div>
    </form>
        <div class="sell_product">
     <a href='addproduct'> Sell</a>
    </div>
        <div class='tracker'>
        <a href='tracker'>Tracker</a>  
        </div>
        <div class="login">
        <a href="login" target="_blank">Login</a>
        </div>
        <div class="regester">
        <a href="regester" target="_blank">Register</a>
        </div>
        <div class="cart">
        <div class="icon"><i class="fa-solid fa-cart-shopping"></i> 
        <a href="cart">  Cart </a>
        </div>
        </div>
        </div>
    </header>
    <div class="hero-section">
    <div class="image"><img src="{%static 'images/Fresh-Food_7a9e8440-2c83-4b51-820c-72fa7aa49498.webp'%}" id="m1"></div>
    <div id="text"><a>You are on Grow Smart.com enjoy your Shoping</a></div>
    </div>
  </div>

<div class="catagory-heading">
    <h2>Fresh Vigitables</h2>
</div>
  <div class="shop-section catagory-vigitable">
 <div class="box1 box" onclick="window.location.href='productpage.html?name=Carrot&price=600&image=images/1212541-1.jpg';">
    <div class="box-content">
      
   <div class="box-img" style="background-image: url('static/images/1212541-1.jpg');"></div>
   <p class="product-name">Fresh Basket China Carrot, 1 KG</p>
   <p id="price">Rs. 600</p>
   </div>
    <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box2 box"  onclick="window.location.href='productpage.html?name=Capsicum%20(Shimlaa)%20Local%20250g&price=60&image=images/1168932-1.jpg';">
    <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/1168932-1.jpg');"></div>
   <p class="product-name">Capsicum (Shimlaa) Local 250g</p>
    <p id="price">Rs. 60</p>
   </div>
        <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box3 box" onclick="window.location.href='productpage.html?name=Curry%20Leaves%20(Kari)%20Local%201-Bunch&price=25&image=images/Kari%20pata.jpg';">
     <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/Kari\ pata.jpg');"></div>
   <p class="product-name">Curry Leaves (Kari) Local 1-Bunch</p> 
    <p id="price">Rs. 25</p>
   </div>
      <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box4 box" onclick="window.location.href='productpage.html?name=Cabbage%20(Gobi)%20Purple%20Local%20Per%20Piece&price=140&image=images/Gobi.jpg';">
     <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/Gobi.jpg');"></div>
   <p class="product-name">Cabbage (Gobi) Purple Local Per Piece</p>
   <p id="price">Rs. 140</p>
   </div>
       <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
    <div class="box1 box" onclick="window.location.href='productpage.html?name=Tomato%20(Tamatar)%201%20KG&price=120&image=images/tomato.jpg';">
    <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/tomato.jpg');"></div>
   <p class="product-name">Tomato (Tamatar) 1 KG</p>
   <p id="price">RS. 120</p>
   </div>
       <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box2 box" onclick="window.location.href='productpage.html?name=Fresh%20Basket%20Spinach%20(Palak)%2C%20Leaves&price=95&image=images/spanich.jpg';">
     <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/spanich.jpg');"></div>
  <P class="product-name">Fresh Basket Spinach (Palak), Leaves</P>
  <p id="price">Rs. 95</p>
   </div>
       <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box3 box" onclick="window.location.href='productpage.html?name=Guar%20Bean%20500gm%20(Approx)&price=170&image=images/bean.jpg';">
     <div class="box-content">
 
   <div class="box-img" style="background-image: url('static/images/bean.jpg');"></div>
   <P class="product-name">Guar Bean 500gm (Approx)
</P>
  <p id="price">Rs. 170</p>
   </div>
       <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
   <div class="box4 box" onclick="window.location.href='productpage.html?name=Malir%20Chilli%20(Mirchi)%20Local%20250g&price=90&image=images/chili.jpg';">
     <div class="box-content">
   <div class="box-img" style="background-image: url('static/images/chili.jpg');"></div>
<P class="product-name">  Malir Chilli (Mirchi) Local 250g</P>
  <p id="price">Rs. 90</p>
   </div>
      <div class="add-to-cart">
      <div class=" tooltip">
  <i class="fa-solid fa-cart-shopping add-to-cart-icon"></i>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
   </div>
  </div>
  <div class="shop-section">
  {% for product in products %}
  {% if product.category == 'vegitable' or product.category == 'vegitables' or product.category == 'Vegitable' or product.category == 'Vegitables'%}
  <div class="box" onclick="window.location.href='{% url 'productdisplay' product.id %}'">
    <div class="box-content">
      <div class="box-img" style="background-image: url('{{ product.image.url }}');"></div>
      <p class="product-name">{{ product.name }}</p>
      <p id="price">Rs. {{ product.price }}</p>
       <form  action="{% url 'add_carts' product.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">
      <div class="add-to-cart">
      <div class=" tooltip">
  <button type="submit" class="icon-button" style="cursor:pointer;border-radius:50px;border-color:#4169E1;height:42px;width:42px;background-color:#A2DEE9;"   onclick="event.stopPropagation();"><i class="fa-solid fa-cart-shopping add-to-cart-icon" style=" transform: translate(-20%,-4px);color:#0F0FD1;"></i></button>
  <span class="tooltip-text">Add to Cart</span>
      </div>
</div>
</form>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
 <footer>
    <div class="navfooterbacktotoptext">
        <a href="#top-section"><p>Back to top</p></a> 
    </div>
    <div class="foot-panel2">
      <ul>
        <p>Contact Details</p>
        <a> <i class="fa-solid fa-location-dot"></i> Ring road peshawar</a>
        <a>
       <a><i class="fa-solid fa-phone">(092)3189398866</i> </a>
        <a>Customer Support: 7 Days a Week, 9:00am - 10:00pm </a>
        <div class="social-media">
  <a href="https:\\www.facebook.com" class="fa-facebook social-m"><i class="fa-brands fa-facebook"></i></a>
  <a href="https:\\www.instagram.com"class="instagram social-m"><i class="fa-brands fa-instagram"></i></a>
  <a href="https:\\www.youtube.com"  class="youtube social-m"><i class="fa-brands fa-youtube"></i></a>
  <a href="https:\\www.tiktok.com"   class="tiktok social-m"><i class="fa-brands fa-tiktok"></i>
        </a>
        </div>
      </ul>
<ul>	
<p>Customer Services</p>
<a>Contact Us</a>
<a>FAQs</a>
</ul>
<ul>
<p>Information</p>
<a>Return & Refund</a>
<a>Privacy Policy</a>
<a>Terms & Conditions </a>
</ul>
<ul>
<p>Subscribe our Newsletter</p>
<a>Get the latest offers and promotions!</a>
<div class="Newsletter">
<input placeholder="Enter your Email" class="email">
<div class="Subscribe">Subscibe</div>
</div>
</ul>
</div>
<div class="foot-panel3">
<a href="index.html" class="logo2"></a>
</div>
<div class="foot-panel4">
 <div class="pages">
<a> Conditions of Use</a>
<a>Privacy Notice</a>
<a>Consumer Health Data Privacy Disclosure</a>
<a>Your Ads Privacy Choices</a>
 </div>
 <div class="copyright"> 
  © 2024-2025,Grow smart.com, Inc. All Right reserved
 </div>
</div>
</footer>
<script src="index.js">
</script>
</body>
</html>



